<script type="text/javascript">
	// settings for modules

	window.YAMASTERS_FRONTEND = {
		templatePath: '',

		googleRecaptcha: {
			language: 'uk', // https://developers.google.com/recaptcha/docs/language
			size: 'compact', // compact or normal
			theme: 'light', // light or dark
			publicKey: '6Lf23QsUAAAAAIxli3VYkB0rwU38kXVMZJpGRnUb', // frontend key
			secretKey: '6Lf23QsUAAAAAEm-O111qPx9o8saJd0QQmYcaAfF'  // backend key
		},

		googleRecaptchaInvisible: {
			siteKey: '6LfrGSUUAAAAACInZwfl0nOr2e8ELHbNhYVls54Q',
			secretKey: '6LfrGSUUAAAAAEm61ZtRnBu-PMV2zBkbs3AMNmol'
		},

		googleMaps: {
			publicKey: 'AIzaSyDflYRggQMdqUQ3EUvQQNRsM4oYDIlxeqo'
		},

		datepicker: {
			week: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
			month: [
				'Січень', 'Лютий', 'Березень', 'Квітень',
				'Травень', 'Червень', 'Липень', 'Серпень',
				'Вересень', 'Жовтень', 'Листопад', 'Грудень'
			],
			buttons: {
				ok: 'гаразд',
				cancel: 'відміна'
			},
			formats: {
				day: 'DD-MM-YYYY',
				time: 'HH:mm DD-MM-YYYY'
			}
		},

		validator: {
			// regular expressions
			regexp: {
				text: /^([A-zА-яІіЇїЄє])*\s*([A-zА-яІіЇїЄє])*\s*([A-zА-яІіЇїЄє])*$/g,
				pass: /^.{6,}$/g,
				digitsOnly: /^\d*[\.,]?\d*$/g
			},

			// masks for input types
			mask: {
				tel: {
					default: '+x{2} (x{3}) x{3} x{2} x{1,15}'
				},
				card: '9999 - 9999 - 9999 - 9999',
				endDate: '99 / 99',
				cvv: '999',
				email: '*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@{1}*{1,20}d{1}*{2,6}[.*{1,2}]'
			},

			messages: {
				required: 'This field is required!',
				wrongSymbol: 'Symbol <b>#SYMBOL#</b> is wrong!',
				incomplete: 'Some fields are incomplete!'
			}
		},

		GLOBAL: {}
	}
</script>
