<script>
function loadScript(src) {
	var script = document.createElement("script");
	script.src = src;
	script.async = false;
	document.getElementById("loader").appendChild(script);
}

function loadStyle(href) {
	var link = document.createElement("link")
	link.rel = "stylesheet";
	link.href = href;
	document.getElementById("loader").appendChild(link);
}

function isTouchDevice() {
	return true == ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch);
}

/* LOADER */

if (window.frameCacheVars !== undefined) {
	BX.addCustomEvent("onFrameDataReceived" , function(json) {
		LOADER();
	});
}
else {
	document.addEventListener("DOMContentLoaded", function(e) {
		LOADER();
	});
}

function LOADER() {}

window.GRECAPTCHA_IS_LOADED = false;

function onloadCallback() {
	window.GRECAPTCHA_IS_LOADED = true;
	// console.log('onloadCallback');
}
</script>

<div id="loader"></div>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=cyrillic" rel="stylesheet">  

<script defer src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" charset="utf-8"></script>

<script>
	if(window.testEnv != 'production'){
		// console.log('dev script');
		document.getElementById('body').classList.add('loaded');
	}
</script>
