


<div class="calcWrapper">
    <div class="row">
        <div class="calc s_24 l_8 l_offset-16">
            <div class="bgContainer">
                <div class="calc">
                    <div class="row">
                        <div class="cols s_24">
                            <p class="title">посчитайте прибыль</p>
                            <p class="subTitle"><b>ДОБРИВО</b> ЭФФЕКТИВНЕЕ ХИМИИ</p>
                            <div class="separator"></div>
                            <div is="Calc" data-params="{
                                    'template': 'default',
                                    'url': '<?=SITE_TEMPLATE_PATH?>/api/form_default.json',
                                    'method': 'get'
                                }">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


