


<div class="headerContent">
    <div class="row">
        <div class="cols s_24">
            <div class="wrapper">
                <div class="top">
                    <p class="headerText">ДОБРИВО</p>
                    <aside>
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="#">Оплата и доставкa</a>
                                </li>
                                <li>
                                    <a href="#">Новости</a>
                                </li>
                                <li>
                                    <a href="#">Справочник</a>
                                </li>
                                <li>
                                    <a href="#">Сертификаты</a>
                                </li>
                                <li>
                                    <div class="js-lang langSelect">
                                        <div class="js-lang activeLang">RU</div>
                                        <div class=" js-lang hideLangWr">
                                            <a class="js-lang" href="#">UA</a>
                                            <a class="js-lang" href="#">EN</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="middle">
                <div class="smallMenu hide-l_up">Меню</div>
                    <ul>
                        <li><a href="#">НАГРО-УДОБРЕНИЕ</a></li>
                        <li><a href="#">БиоДизель</a></li>
                        <li><a href="#">СИЛКО</a></li>
                        <li><a href="#">Интернет-магазин</a></li>
                        <li><a href="#">Вопросы-ответы</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Корзина</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <p class="headerTextBottom bottom1">ОРГАНИЧЕСКОЕ</p>
                    <p class="headerTextBottom bottom2">НАНО-УДОБНИЕ</p>
                    <p class="headerTextBottom bottom3">ДОБРИВ</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    let lang = document.querySelector('.activeLang');
    let body = document.querySelector('body');
    let langA = document.querySelectorAll('.hideLangWr a');
    let smallMenu = document.querySelector('.smallMenu');

    lang.addEventListener('click', function() {
        if(this.closest('.langSelect').classList.contains('show')){
            this.closest('.langSelect').classList.remove('show')
        }else{
            this.closest('.langSelect').classList.add('show');

        }
    });
    body.addEventListener('click', function(e){
        if(!e.target.classList.contains('js-lang')){
            document.querySelector('.langSelect').classList.remove('show');
        }
    })
    langA.forEach(function(el){
        el.addEventListener('click', function(e){
        document.querySelector('.langSelect').classList.remove('show');
        })
    });
    smallMenu.addEventListener('click', function() {
        if(this.closest('.middle').classList.contains('show')){
            this.closest('.middle').classList.remove('show')
        }else{
            this.closest('.middle').classList.add('show');

        }
    });
</script>
