


<div class="topBlock">
        
<!--#BEGIN-1551265399446#-->
<!-- /includes/blocks/.examples/slider.html -->
<!-- #TIME=1551265399446# -->
<div class="row">
	<div class="cols s_24">
		<div is="Slider" data-params="{
			'template': 'default',
			'url': '<?=SITE_TEMPLATE_PATH?>/api/slider_default.json',
			'method': 'get',
			'request': {'key1': 'value1'}
		}">
		</div>
	</div>
</div>

<!--#END-1551265399446#-->

</div>


