


<div class="row">
	<div class="cols s_24">
		<div is="Slider" data-params="{
			'template': 'default',
			'url': '<?=SITE_TEMPLATE_PATH?>/api/slider_default.json',
			'method': 'get',
			'request': {'key1': 'value1'}
		}">
		</div>
	</div>
</div>

