<div class="row">
	<div class="cols s_24">
		<div
			is="Form"
			data-params="{
				'template': 'default',
				'url': 'api/form_default.json',
				'method': 'get',
				'request': {'key1': 'value from html'}
			}"
		>
		</div>
	</div>
</div>
