<div id="html-form">
	<div class="row center-h">
		<div class="cols s_24">
			<div class="form">
				<form>
					<div class="inpContainer">
						<label>
							<input type="text" required placeholder="Введіть ім'я">
						</label>

						<label>
							<input required placeholder="Телефон" name="" type="tel">
						</label>

						<label>
							<input required class="email" placeholder="E-mail" name="" type="text">
						</label>
					</div>

					<input type="submit" value="Оплатить" style="display: none">
					<div data-submitter="" class="yam-button">Оплатить</div>
				</form>
			</div>
		</div>
	</div>
</div>

<style lang="scss" scope="#html-form">
	@import "scss/wanted";

	#html-form {
		padding-bottom: rem(60);
		[data-yam-validator] {
			position: relative;
			display: block;

			&.invalid {
				input {
					@include box-shadow(0 0 3px red);
					border-color: transparent !important;
					@include single-transition();
				}

				.message.invalid {
					opacity: .8;
					@include translateX(0px);
				}
			}

			&.required {
				input {
					border-color: transparent !important;
					@include box-shadow(0 0 3px #E4746C);
					@include single-transition();
				}

				.message.required {
					opacity: .8;
					@include translateX(0px);
				}
			}

			&.not-identic {
				input {
					border-color: transparent !important;
					@include box-shadow(0 0 3px #E4746C);
					@include single-transition();
				}

				.message.identic {
					opacity: .8;
					@include translateX(0px);
				}
			}

			input {
				@include box-shadow(none);
				@include single-transition();
			}

			.message {
				@include flexbox;
				@include align-items(center);
				background-color: #fff;
				color: #000;
				padding: 0 10px;
				font-size: rem(12);
				text-transform: lowercase;
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				z-index: 1;
				opacity: 0;
				letter-spacing: 1px;
			    @include pointer-events(none!important);
				@include single-transition();
				@include translateX(-20px);

				&.invalid {
					color: rgba(#d40000, .7);
				}

				&.required {
				  color: rgba(#d40000, .7);
				}

				&.identic {
				  color: rgba(#d40000, .7);
				}
			}
		}

		.form{
			input {
				&[type="radio"] {
					display: none;
					&:checked ~ .paymentMethod {
						background-color: #eaebeb;
					}
				}
			}

			.inpContainer{
				margin-bottom: 15px;
				@include m_up{
					margin-bottom: 0;
				}
				input{
					height: rem(61);
					width: 100%;
					margin-bottom: 15px;
					border-radius: rem(33);
					border: 1px solid #2c2c2c;
					box-shadow: none;
					padding: 0 30px;
					@include m_up{
						margin-bottom: rem(20);
					}
					@include l_up{
						margin-bottom: rem(38);
					}
					@include placeholder{
						opacity: 1;
					}
					&.errorFild{
						border-color: red;
					}
				}
			}

			[type="submit"], .sbm, .yam-button{
				width: rem(170);
				height: rem(61);
				border-radius: rem(33);
				border: 1px solid #de4b39;
				background-color: #de4b39;
				color: white;
				font-size: rem(18);
				display: block;
				margin: 0 auto 10px;
				display: flex;
				text-decoration: none;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				@include single-transition();
				&:hover{
					background-color: darken(#de4b39, 10%);
				}
			}
		}
	}
</style>

<script scope="#html-form">

</script>
