<div class="Header">
	<div class="row">
		<div class="cols s_24">
			<div
			is="Navigation"
			data-params="{
				'template': 'top',
				'response': {'api_response':{'menu':[{'text':'text1','href': '#','active': false},{'text':'text2','href': '#','active': false},{'text':'text3','href': '#','active': false},{'text':'text4','href': '#','active': false},{'text':'text5','href': '#','active': false},{'text':'text6','href': '#','active': false},{'text':'text7','href': '#','active': false}],'nothing_to_show': 'Немає чого показати.','request': {'custom': 'overwrited value','key1': 'value1','key2': 'value2'}}},
				'url': 'api/navigation_menu-top.json',
				'method': 'get',
				'request': {'key1': 'value1'}}"
			>
		</div>
	</div>
</div>
</div>

<style lang='scss' scope='.Header'>
@import "scss/wanted";
	.Header{
		position: relative;
	}
</style>

<script scope='.Header'>
	console.log('i am Header!');

</script>
