<div id="test-scope">
	test-scope
</div>

<style lang="scss" scope="#test-scope">
	@import "scss/wanted";

	#test-scope {
		background-color: red;
	}
</style>

<script scope="#test-scope">
	console.log('hello test-scope');

	// var test;
	//
	// $(document).on('scroll', function() {
  // var scrolled = window.pageYOffset || document.documentElement.scrollTop;
	// console.log($('#body').height());
	// if(scrolled < 500){
	// 	test = setTimeout(function() {
	// 		console.log(test);
	// 	}, 1000);
	// }
	// setTimeout(function() {
	// 	clearTimeout(test);
	// }, 0);
	// });
</script>
