<template>
	<div class="owl-carousel">
		<div class="item" 
			v-for="(item, i) in items" 
			:key="i"
			:style="`background-image: url(${item.img})`">
		</div>
	</div>
</template>

<script>
module.exports = {

	props: ['api_response'],

	data () {
		return {}
	},

	computed:{
		items(){
			return this.api_response.items ? this.api_response.items : {}
		}
	},

	watch: {
		api_response() {
			return this.api_response.items ? this.api_response.items : {}
		}
	},


	methods:{
		updatedOwl(){
			this.$emit('updated', {
				owlSettings: {
					items: 1,
					loop: true,
					nav: false,
					autoplay: true,
					autoplaySpeed: 1300
				}
			});
		},
		clearOwl(){
			this.$emit('clearOwl');
		}
	},

	mounted(){
		this.updatedOwl();
	},

	updated() {
		this.clearOwl();
		this.updatedOwl();
	}
}
</script>

<style lang="scss" scope=".slider-default">
@import "scss/wanted";
.global-slider-container {
	.slider-default {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		

		.owl-carousel {

			.item {
				width: 100vw;
				height: 935px;
				background-size: auto auto;
				background-position: center;
			}
		}
	}
}
</style>
