


<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<meta name="msapplication-tap-highlight" content="no">

<title>vue-simple</title>

<script>
	window.STACK = [];

	function EXE(func) {
		STACK.push(func);
	}
</script>

<style>
	#body{
		/*opacity: 0;*/
		position: relative;
	}
	#body:before{
		content: '';
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		content: "";
		background-color: #262626;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("<?=SITE_TEMPLATE_PATH?>/img/loading.svg");
		background-size: 150px;
	}
	 #body.loaded{
		opacity: 1;
	}
	#body.loaded:before {
		opacity: 0;
		pointer-events: none;
		-webkit-transition: opacity 700ms ease;
		-moz-transition: opacity 700ms ease;
		-ms-transition: opacity 700ms ease;
		-o-transition: opacity 700ms ease;
		transition: opacity 700ms ease;
	}
</style>

