<div class="calcWrapper">
    <div class="row">
        <div class="calc s_24 l_8 l_offset-16">
            <div class="bgContainer">
                <div class="calc">
                    <div class="row">
                        <div class="cols s_24">
                            <p class="title">посчитайте прибыль</p>
                            <p class="subTitle"><b>ДОБРИВО</b> ЭФФЕКТИВНЕЕ ХИМИИ</p>
                            <div class="separator"></div>
                            <div
                                is="Calc"
                                data-params="{
                                    'template': 'default',
                                    'url': 'api/form_default.json',
                                    'method': 'get'
                                }"
                            >
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<style lang="scss" scope=".calcWrapper">
    @import "scss/wanted";
.calcWrapper{
    background-image: url('../img/bg2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 1115px;
    @media(min-width: 2330px){
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 57vw;
            height: 100%;
            content: "";
            background-color: #fff;
            z-index: 1;
        }
    }
    .bgContainer{
        width: 670px;
        max-width: 100%;
        background-color: #e9e5e4;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 25px;
        margin: 30px auto 0;
        @include m___up{
            right: 270px;
            left: auto;
        }
        @media(min-width: 2330px){
            transform: translateY(-417px);
        }
        .calc{
            width: 100%;
            height: 100%;
            border: 2px dashed #a7a9ac;
            padding: 15px;
            background-color: #f0f0f0;
            @include m_up{
                padding: 44px;
            }
            .title{
                font-family: 'Roboto Condensed';
                font-weight: bold;
                color: #25383f;
                font-size: 36px;
                text-align: center;
                text-transform: uppercase;
                line-height: .9;
                @include m_up{
                    font-size: 75px;
                }
            }
            .subTitle{
                color: #25383f;
                font-size: 22px;
                text-align: center;
                font-weight: 200;
                margin: 23px 0 33px;
                b{
                    font-weight: 500;
                }
                @include m_up{
                    font-size: 29px;
                }
            }
            .separator{
                width: 358px;
                max-width: 100%;
                height: 2px;
                background-color: #d1d3d4;
                margin: 0 auto 52px;
            }
        }
    }
}
</style>