<div class="headerContent">
    <div class="row">
        <div class="cols s_24">
            <div class="wrapper">
                <div class="top">
                    <p class="headerText">ДОБРИВО</p>
                    <aside>
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="#">Оплата и доставкa</a>
                                </li>
                                <li>
                                    <a href="#">Новости</a>
                                </li>
                                <li>
                                    <a href="#">Справочник</a>
                                </li>
                                <li>
                                    <a href="#">Сертификаты</a>
                                </li>
                                <li>
                                    <div class="js-lang langSelect">
                                        <div class="js-lang activeLang">RU</div>
                                        <div class=" js-lang hideLangWr">
                                            <a class="js-lang" href="#">UA</a>
                                            <a class="js-lang" href="#">EN</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="middle">
                <div class="smallMenu hide-l_up">Меню</div>
                    <ul>
                        <li><a href="#">НАГРО-УДОБРЕНИЕ</a></li>
                        <li><a href="#">БиоДизель</a></li>
                        <li><a href="#">СИЛКО</a></li>
                        <li><a href="#">Интернет-магазин</a></li>
                        <li><a href="#">Вопросы-ответы</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Корзина</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <p class="headerTextBottom bottom1">ОРГАНИЧЕСКОЕ</p>
                    <p class="headerTextBottom bottom2">НАНО-УДОБНИЕ</p>
                    <p class="headerTextBottom bottom3">ДОБРИВ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style lang="scss" scope=".headerContent">
    @import "scss/wanted";
    .headerContent{
        padding: 30px 0 0;
        @include l_up{
            padding: 182px 0 0;
        }
        .headerText{
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            font-family: 'Roboto Condensed';
            text-transform: uppercase;
            line-height: .82;
            @include m_up{
                font-size: 60px;
            }
            @include l_up{
                font-size: 105px;
            }
        }
        .headerTextBottom{
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            font-family: 'Roboto Condensed';
            text-transform: uppercase;
            line-height: .82;
            @include m_up{
                font-size: 60px;
            }
            @include l_up{
                font-size: 125px;
            }
            @include l__up{
                &.bottom1{
                    padding-left: 193px;
                }
                &.bottom2{
                    padding-left: 415px;
                }
                &.bottom3{
                    padding-left: 591px;
                }
            }
        }
        .top{
            display: flex;
            flex-direction: column;
            @include m___up{
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
            .menu{
                ul{
                    display: flex;
                    flex-direction: column;
                    @include m_up{
                        margin-top: 10px;
                        flex-direction: row;
                    }
                    li{
                        padding: 8px 20px 0;
                        @include l___up{
                            padding: 8px 43px 0;
                            &:nth-last-child(1){
                                padding: 0 0 0 64px;
                            }
                            &:nth-last-child(2){
                                padding-left: 64px;
                            }
                        }
                    }
                    a{
                        text-transform: uppercase;
                        font-weight: 100;
                        font-size: 16px;
                        color: #fff;
                        padding-top: 6px;
                        @include l_up{
                            font-size: 20px;
                        }
                        @include l___up{
                             font-size: 23px;
                        }
                    }
                }
                .langSelect{
                    position: relative;
                    font-size: 18px;
                    font-weight: 100;
                    color: #fff;
                    cursor: pointer;
                    margin-bottom: 20px;
                    width: 60px;
                     @include m_up{
                        font-size: 22px;
                        width: 60px;
                    }
                    @include l_up{
                        font-size: 29px;
                        margin-bottom: 0;
                        width: 91px;
                    }
                    &.show{
                        .hideLangWr{
                            height: auto;
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                }
                .activeLang{
                    width: 100%;
                    height: 25px;
                    border: 2px solid #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 10px;
                    &:before{
                        position: absolute;
                        top: calc(50% - 4px);
                        right: 5px;
                        width: 13px;
                        height: 8px;
                        content: "";
                        background-image: url('../img/arr.png');
                    }
                    @include m_up{
                        height: 35px;
                        padding-right: 20px;
                        &:before{
                            right: 10px;
                        }
                    }
                    @include l_up{
                        height: 46px;
                        padding-right: 30px;
                        &:before{
                            right: 15px;
                        }
                    }
                }
                .hideLangWr{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.5s ease 0s;
                    width: 100%;
                    a{
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        padding-right: 30px;
                        @include m_up{
                            font-size: 22px;
                            padding-right: 20px;
                        }
                        @include l_up{
                            font-size: 29px;
                            padding-right: 30px;
                        }
                    }
                }
            
            }
        }
        .middle{
            height: 40px;
            width: 300px;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(#000, .3);
            margin: 35px 0 20px;
            @include l_up{
                height: 100px;
                width: 100%;
            }
            @media (max-width: 1179px){
                .smallMenu{
                    display: flex;
                    align-items: center;
                    line-height: 40px;
                    font-size: 22px;
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;
                    padding: 0 20px;
                    cursor: pointer;
                    background-image: url('../img/bg.jpg');
                    background-size: cover;
                    text-align: center;
                    @include m_up{
                        text-align: left;
                    }
                }
                ul{
                    width: 300px;
                    background-color: #fff;
                    height: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.5s ease 0s;
                    position: relative;
                    z-index: 2;
                    a{
                        font-size: 18px;
                        font-family: 'Roboto Condensed';
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #6d6e71;
                        padding: 5px 20px;
                        display: block;
                    }
                    
                }
                &.show{
                    ul{
                        height: auto;
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
            ul{
                @include l_up{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    padding-left: 15px;
                    a{
                        color: #6d6e71;
                        font-size: 22px;
                        font-family: 'Roboto Condensed';
                        text-transform: uppercase;
                        font-weight: bold;
                        padding-right: 15px;
                        position: relative;
                        &:before{
                            position: absolute; 
                            top: calc(50% - 6px);
                            right: 0;
                            width: 7px;
                            height: 12px;
                            content: "";
                            background-image: url('../img/arr1.png');
                        }
                        @include l___up{
                            font-size: 29px;
                            padding-right: 24px;
                        }
                    }
                    li{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:nth-last-child(1){
                            width: 200px;
                            background-image: url('../img/bg.jpg');
                            background-size: cover;
                            a{
                                color: #fff;
                                padding-left: 60px;
                                &:before{
                                    top: calc(50% - 22px);
                                    right: auto;
                                    left: 0;
                                    width: 43px;
                                    height: 43px;
                                    content: "";
                                    background-image: url('../img/basket.png');
                                }
                            }
                            @include l___up{
                                width: 390px;
                            }
                        }
                    }
                }
                @include l___up{
                    padding-left: 80px;
                }
            }
        }
        .bottom{
            @include l_up{
                padding: 175px 0 0 0;
            }
        }
    }
</style>

<script>
    let lang = document.querySelector('.activeLang');
    let body = document.querySelector('body');
    let langA = document.querySelectorAll('.hideLangWr a');
    let smallMenu = document.querySelector('.smallMenu');

    lang.addEventListener('click', function() {
        if(this.closest('.langSelect').classList.contains('show')){
            this.closest('.langSelect').classList.remove('show')
        }else{
            this.closest('.langSelect').classList.add('show');

        }
    });
    body.addEventListener('click', function(e){
        if(!e.target.classList.contains('js-lang')){
            document.querySelector('.langSelect').classList.remove('show');
        }
    })
    langA.forEach(function(el){
        el.addEventListener('click', function(e){
        document.querySelector('.langSelect').classList.remove('show');
        })
    });
    smallMenu.addEventListener('click', function() {
        if(this.closest('.middle').classList.contains('show')){
            this.closest('.middle').classList.remove('show')
        }else{
            this.closest('.middle').classList.add('show');

        }
    });
</script>