<div class="topBlock">
        ${require('./.examples/slider.html')}
</div>

<style lang="scss" scope="#top-wrapper">
        @import "scss/wanted";
    
        #top-wrapper {
            height: 935px;
            position: relative;
        }
    </style>