<template lang="html">
	<div class="calcForm">
        <div class="labelDropDown">
            <div class="text">Выберите культуру</div>
            <div :class='opened ? "v_dropdown active" : "v_dropdown"'>
                <div class="value" @click='opener' v-html='text'></div>
                <span class="focus-bg"></span>
                <div class='options'>
                    <div class="overflow">
                        <div
                            v-for='opt in data.options'
                            :class='active == opt.value ? "opt active" : "opt"'
                            @click='setActive(opt)'
                            v-html='opt.text'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="label">
			<div class="text">Урожайность, ц/га</div>
            <input
				type='text'
				name="name1"
				placeholder="0"
				v-model.trim="inputValue" 
				@input="setName($event.target.value)"
            >
			<div class="error" v-if="!$v.inputValue.numeric">Ошибка, введите число</div>
		</div>
		<div class="label">
			<div class="text">Стоимость хим. удобрения, грн/га</div>
			<input
				type='text'
				name="name2"
				placeholder="0"
				v-model.trim="inputValue2" 
				@input="setName2($event.target.value)"
            >
			<div class="error" v-if="!$v.inputValue2.numeric">Ошибка, введите число</div>
        </div>
		<div class="label">
			<div class="text">Посевная площадь, га</div>
			<input
				type='text'
				name="name3"
				placeholder="0"
				v-model.trim="inputValue3" 
				@input="setName3($event.target.value)"
            >
			<div class="error" v-if="!$v.inputValue3.numeric">Ошибка, введите число</div>
		</div>
		<div class="separator"></div>
		<div class="summWrapper">
			<div class="textSumm">Прибыль от ДОБРИВА</div>
			<div class="summ">{{summ}}</div>
			<div class="currency">грн</div>
		</div>
    </div>
</template>

<script>
import { numeric } from 'vuelidate/lib/validators'

export default {
	name: 'Calc',

    components: {
		dropdown: require('./forms/elements/dropdown.vue')
	},

	data() {
		return {
            opened: false,
            data: {"options": [
                {
                    "value": "3100",
                    "text": "Пшеница ≈ 3100 грн / т"
                },
                {
                    "value": "2500",
                    "text": "Ячмень ≈ 2500 грн / т"
                },
                {
                    "value": "4000",
                    "text": "Овёс ≈ 4000 грн / т"
                }
            ]},
			text: "Пшеница ≈ 3100 грн / т",
            active: '3100',
			inputValue: '',
			inputValue2: '',
			inputValue3: ''
		}
	},
	validations: {
		inputValue: {
			numeric
		},
		inputValue2: {
			numeric
		},
		inputValue3: {
			numeric
		}
	},

	computed: {
		summ(){
			let summ = 0;
			summ = (this.inputValue + this.inputValue2 + this.inputValue3) / (this.active / 1000)
			return summ > 0 ? summ.toFixed(0) : 0 
		}
	},

	methods: {
        opener() {
			this.opened = !this.opened;
        },
        setActive(opt) {
			this.active = opt.value;
			this.opened = false;
			this.text = opt.text;
        },
		setName(value) {
			this.inputValue = value
			this.$v.inputValue.$touch()
		},
		setName2(value) {
			this.inputValue2 = value
			this.$v.inputValue2.$touch()
		},
		setName3(value) {
			this.inputValue3 = value
			this.$v.inputValue3.$touch()
		},
	}
}
</script>

<style lang="scss" scope=".calcForm">
	@import "scss/wanted";
	.calcForm{
		.text{
 			color: #25383f;
            font-size: 18px;
			letter-spacing: .022em;
			font-weight: 200;
			@include m_up{
				margin-bottom: 14px;
				font-size: 29px;
			}
		}
		.label{
			margin-bottom: 23px;
			position: relative;
			input{
				font-size: rem(16);
				margin: 0;
				position: relative;
				cursor: pointer;
				color: #a7a9ac;
				width: 100%;
				border: 2px solid #d1d3d4;
				padding: 0 50px 0 19px;
				background-color: #fefefe;
				border-radius: 3px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				height: 40px;
				display: flex;
				align-items: center;
				@include m_up{
					height: 66px;
					font-size: rem(29);
				}
			}
			.error{
				position: absolute;
				transition: all 0.5s ease 0s;
				top: 100%;
				left: 0;
				color: red;
			}
		}
		.v_dropdown {
			display: flex;
			position: relative;
			margin-bottom: 23px;
			width: 100%;
			@include m_up {
				width: auto;
			};

			.labelDropDown {
				font-size: 15px;
				color: #000;
				padding: 0 4px 0 0;
			}

			.value ~ .focus-bg{
				&:before, &:after{
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					width: 0;
					height: 0;
					background-color: rgba(#ededed, .15);
					transition: 0.3s;
					z-index: -1;
				}
				&:after{
					left: auto;
					right: 50%;
					top: auto;
					bottom: 50%;
				}
			}



			.value {
				font-size: rem(16);
				margin: 0;
				position: relative;
				cursor: pointer;
				color: #a7a9ac;
				width: 100%;
				border: 2px solid #d1d3d4;
				padding: 0 50px 0 19px;
				border-radius: 3px;
				background-color: #fefefe;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				height: 40px;
				display: flex;
				align-items: center;
				@include m_up{
					height: 66px;
					font-size: rem(29);
				}
				&:after {
					content: '';
					border: 7px solid transparent; 
					border-top: 14px solid #594a42; 
					position: absolute;
					display: block;
					right: 19px;
					top: calc(50% - 7px);
				}
			}

			.options {
				position: absolute;
				top: 105%;
				left: 0;
				width: 100%;
				background-color: #fff;
				border-radius: 3px;
				z-index: 2; 
				border: 1px solid #EFEFEF;
				box-shadow: 0px 5px 10px 0px rgba(#000, 0.05);
				@include single-transition;
				opacity: 0;
				@include pointer-events(none);
				@include translateY(10px);

				.overflow {
					max-height: 250px;
					overflow: auto;
					padding: 10px;
				}

				.opt {
					color: #282828;
					font-size: 15px;
					line-height: 17px;
					border: 1px solid #fff;
					border-radius: 3px;
					margin: 0 0 2px;
					padding: 12px 10px 10px;
					cursor: pointer;
					@include single-transition;

					&:hover {
						border-color: #ACB1B5;
					}

					&.active {
						border-color: black !important;
						color: black;
					}
				}
			}
			&.active {
				.options{
					opacity: 1;
					@include pointer-events(auto);
					@include translateY(0px);
				}
				.value{
					&:after{
						transition: 0.3s;
						border-bottom: 14px solid #594a42; 
						border-top: none;
					}
				}
			}
		}
		.separator{
			margin: 30px auto 12px!important;
		}
		.summWrapper{
			text-align: center;
			color: #d26441;
			.textSumm{
				font-size: 29px;
				letter-spacing: .022em;
				font-weight: 200;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.summ{
				font-family: 'Roboto Condensed';
				font-weight: bold;
				font-size: 75px;
				line-height: 1.1;
				@include m_up {
					font-size: 98px;
				};
			}
			.currency{
				font-size: 29px;
				letter-spacing: .022em;
				font-weight: 400;
				color: #25383f;
			}
		}
	}
</style>
