<template>
	<div class="global-slider-container">
		<div :class='`slider-${componentParams.template}`'>
			<template v-if='componentParams.template == "default"'>
					<slider-default :api_response='api_response' @clearOwl='clearOwl' @updated='renderOwl'></slider-default>
			</template>

			<template v-else>
				Unknown slider template: <b>{{ componentParams.template }}</b>
			</template>
		</div>
	</div>
</template>

<script>
require('__scss/owl.carousel.scss');
require('owl.carousel');

module.exports = {
	props: {
		dataParams: {
			type: String,
			required: true
		}
	},


	components: {
		'slider-default': require('./sliders/default.vue')
	},

	data () {
		return {
			api_response: {},
			items: []
		}
	},

	computed: {
		componentParams() {
			let str = this.dataParams.replace(/'/g, '"');
			return JSON.parse(str);
		}
	},

	watch: {
		api_response() {
			this.api_response = this.api_response;
		}
	},

	methods: {
		loadAPI() {
			console.log('loadAPI');
			let method = this.componentParams.method;
			let url = this.componentParams.url;
			let custom_request = this.componentParams.request;

			let options = {
				responseType: 'json'
			}

			if(method.toLowerCase() == 'post') {
				options.emulateJSON = true;
				this.$http[method](url, custom_request, options).then(success).catch(error);
			}
			else if(method.toLowerCase() == 'get') {
				options.params = custom_request;
				this.$http[method](url, options).then(success).catch(error);
			}

			function success(response) {
				this.api_response = response.body.api_response;
				// console.log(this.api_response );
			}

			function error(err) {
				console.log(err);
			}
		},
		renderOwl(payload) {
			console.log('renderOwl');
			$(this.$el).find('.owl-carousel').owlCarousel(payload.owlSettings)
		},
		clearOwl(){
			$(this.$el).find('.owl-carousel .owl-stage-outer').remove();
			$(this.$el).find('.owl-carousel').trigger('destroy.owl.carousel');
		}
	},

	beforeMount() {
		if(this.componentParams.response) {
			this.api_response = this.componentParams.response.api_response;
			// console.log(this.api_response);
		}else{
			this.loadAPI();
		}
	}

	// mounted() {
	// 	const success = response => {
	// 		// console.log(response.body);
	// 		this.api_response = response.body ? response.body.api_response : {};
	// 	}
	//
	// 	const error = error => {
	// 		console.log(error);
	// 	}
	//
	// 	let method = this.componentParams.method;
	// 	let url = this.componentParams.url;
	// 	let custom_request = this.componentParams.request;
	//
	// 	let options = {
	// 		responseType: 'json'
	// 	}
	//
	// 	if(method.toLowerCase() == 'post') {
	// 		options.body = custom_request
	// 	}
	// 	else if(method.toLowerCase() == 'get') {
	// 		options.params = custom_request
	// 	}
	//
	// 	this.$http[method](url, options)
	// 		.then(response => {
	// 			// console.log(response);
	// 			this.api_response = response.body ? response.body.api_response : {};
	// 		})
	// 		.catch(err => {
	// 			console.log(err);
	// 		});
	// }
}
</script>

<style lang="scss">
@import "scss/wanted";

</style>
